body{
    background-image: url(c.jpg);
    background-repeat: repeat;
    margin: 0px 0px;
    
}
.float{
    background-color: rgb(196, 116, 19);
    border-radius: 15px;
    margin: 0px 15px;
    justify-content: center;
    height: 550px;
    width: 270px;
}
.flex{
    
    background-color: rgb(216, 213, 213)  ;
    display: flex;
   
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px 0px;
    


}
img{
    border-radius: 10px;
    margin: 3px 10px;
}
.acceuil{
    text-decoration: none;
    background-color: rgb(175, 170, 170);
    padding: 10px 20px;
    border-radius: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    margin-right: 5px;
    margin-top: 21px;
    text-decoration-color: black;
    font-size: 20px;
}
.contact{
    text-decoration: none;
    background-color: rgb(175, 170, 170);
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0PX 40px;
    
    
}